/* Styles for all media */
a {
  text-decoration: none; /* 去掉下划线 */
  color: darkgreen;
}

body, h1, h2, h3, h4, h5 {
        font-family:cnn_sans_display, helveticaneue, Helvetica, Arial, Utkal, sans-serif;
        
}
h2{
    color:#660066;
    
}

h3{
    padding: 0 10px;
    color:#004080;
}
p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    padding: 0 20px;
    color: darkgreen;/*#00AA00;*/
}

.main-page p{
     color: #333333;
}

li{
    padding: 0 0 0 10px;
    list-style-type: none;
    font-size: 20px;
    font-style: bold;
    line-height: 1.5;
    color:darkgreen;
}

.sub-list li{
    padding: 0 0 0 20px;
    list-style-type: disc;
    font-size: 20px;
    font-style: bold;
    line-height: 1.5;
    color:#004080;
}
.sub-list a{
    color:#004080;
}
.cources{
    padding: 0 20px;
}

.title{
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}
.head{
    margin: 0 auto;
    min-width: 1000px; /* 设置最小宽度为 1200px */
    display: flex;
}

.head-left {
  flex: 0 0 45%; 
  padding: 0 24px;
}

.head-right {
  flex: 1; 
  padding: 0 24px;
  
}

/*---- page   layout----*/ 
.main-page {
  margin: 0 auto;
  min-width: 1200px; /* 设置最小宽度为 1200px */
  display: flex;
}

.left {
  flex: 0 0 20%; /* 占据 25% 的固定宽度 */
  padding: 0 24px;
  border-top: 2px solid #808080;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
}

.middle {
  flex: 1; /* 占据 25% 的固定宽度 */
  padding: 0 24px;
  border-top: 2px solid #808080;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
}

.right {
  flex: 0 0 35%;
  padding: 0 24px;
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-bottom: 2px solid #808080;
}

/*    navigate.     
nav {
    justify-self: middle;
}*/
/*---------menu---------*/

.nav {
    position: relative;
    /*display: inline-block;*/
    background-color: rgba(0, 128, 0, 0.8); /* 半透明的绿色 */
    border-radius: 5px;
    min-height: 1.0em;
    /*overflow: auto;*/
    padding: 10px 10px 5px 0px;
    margin: 0 20px 0 20px;
    right:0;
    
}

.submenu {
    display: none;
    background-color: white;
    position: absolute;
    border: 2px solid #D3D3D3;
    border-radius: 5px;
    /*top: 20px;  或者使用 bottom: 10px; */
    /*min-width: 120px;*/
    padding:10px;
}

.nav .submenu {
  z-index: 100;
}

.nav ul {
    list-style: none;
    margin: 0;
    
}



.nav a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;
  width:120px;
}


.submenu a {
  display: block;
  text-decoration: none;
  text-align: left;
  color: rgba(0, 128, 0, 1);
  width:auto;
  text-align:auto;
}

.nav a:hover,
.submenu a:hover 
{
  color: #666;
}

/*.nav li:hover .submenu {
  display: block;
}*/



.terms, 
.expert {
    border-bottom: 1px solid #c8c8c8;
    text-align: left;
    background-color: rgba(211, 211, 211, 0.8); /* 半透明的绿色 */
    padding: 20px 20px 20px 40px;
}

.terms a,
.expert a {
    display: inline-block;
    padding: .2em 0.5em .2em;
    /*cursor: move;*/
    color: #333333;
    /*width:200px;*/
}

/*.nav-main a:hover,  */
.terms a:hover,
.expert a:hover {
  color: #333333;
  text-decoration: underline;
  /*cursor: move;*/
}


/*---- image --------*/
.full-width-image img {
        border: 2px solid #00FF00;
        border-radius: 15px;
}

.full-width-image {
    width: 100%; /* 设置图像宽度为100%，以填满父容器的宽度 */
    height: 400px; /* auto;  让高度自适应，以保持图像的原始宽高比 */
}

.title-image {
    width: 1000px; /* 设置图像宽度为100%，以填满父容器的宽度 */
    height: 70px; /* auto;  让高度自适应，以保持图像的原始宽高比 */
}

